{% extends "template.twig" %}

{% block titulo "Crear Persona" %}

{% block cuerpo %}
<form method="post">
    <div class="row">
        <div class="columns large-2"><label class="inline right">Cédula</label></div>
        <div class="columns large-6 pull-4">
            {{ form_text('persona.cedula') }}
        </div>
    </div>
    <div class="row">
        <div class="columns large-2"><label class="inline right">Nombre</label></div>
        <div class="columns large-6 pull-4">
            {{ form_text('persona.nombre') }}
        </div>
    </div>
    <div class="row">
        <div class="columns large-2"><label class="inline right">Edad</label></div>
        <div class="columns large-6 pull-4">
            {{ form_number('persona.edad') }}
        </div>
    </div>
    <div class="row">
        <div class="columns large-6 push-2">
            {{ bootstrap.submit() }}
            {{ bootstrap.cancel(path('personas'), 'Listado') }}
        </div>
    </div>
</form>
{% endblock cuerpo %}
