{% extends "template.twig" %}

{% block titulo "Crear Persona" %}

{% block cuerpo %}
<div>
    <form method="post">
        <dl>
            <dd><label>Cédula</label></dd>
            <dt><input type="text" name="cedula" value="{{ persona.cedula }}" /></dt>
            <dd><label>Nombre</label></dd>
            <dt><input type="text" name="nombre" value="{{ persona.nombre }}" /></dt>
            <dd><label>Edad</label></dd>
            <dt><input type="number" name="edad" value="{{ persona.edad }}" /></dt>
        </dl>
        {{ bootstrap.submit() }}
        {{ bootstrap.cancel(path('personas'), 'Listado') }}
    </form>
</div>
{% endblock cuerpo %}
