{% extends "template.twig" %}

{% block titulo "Listado de Personas" %}
{% block cuerpo %}
<p>
    <a href="{{ path('personas/crear.php') }}">Crear</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{{ path('reportes/edades.php') }}">Reporte de Edades</a>
</p>
<table>
    <thead>
    <th>ID</th>
    <th>Nombre</th>
    <th>Edad</th>
    <th>Edit</th>
    <th>Eliminar</th>
</thead>
<tbody>
    {% for e in personas %}
        <tr>
            <td>{{ e.id }}</td>
            <td>{{ e.nombre }}</td>
            <td>{{ e.edad }}</td>
            <td><a href="{{ path('personas/editar.php', {id: e.id }) }}">Editar</a></td>
            <td><a href="{{ path('personas/eliminar.php', {id: e.id }) }}">Eliminar</a></td>
        </tr>
    {% endfor %}
</tbody>
</table>
{% endblock cuerpo %}