{% macro alert(message, type) %}
<div class="alert-box radius {{ type }}" data-alert>{{ message }}<a href="#" class="close">&times;</a></div>
{% endmacro %}

{% macro articulo() %}
{% spaceless %}
<tr data-id="{{ '{{ id }}' }}" >
<input type="hidden" value="{{ '{{ cantidad }}' }}" name="art[{{ '{{ id }}' }}][cantidad]" />
    <td>{{ '{{ nombre }}' }}</td>
    <td>{{ '{{ precio }}' }} Bs</td>
    <td>{{ '{{ cantidad }}' }}</td>
    <td>{{ '{{ subTotal }}' }} Bs</td>
</tr>
{% endspaceless %}
{% endmacro %}

{############################ LINKS ##########################}
{% macro link(url, text, type, title) %}
<a title="{{ title|default(text) }}" href="{{ url }}" class="button radius {{ type }}">{{ text }}</a>
{% endmacro %}

{% macro edit(url, text) %}
{% import _self as this %}
{{ this.link(url, text|default('Editar'), ' small') }}
{% endmacro %}

{% macro delete(url, text) %}
{% import _self as this %}
{{ this.link(url, text|default('Eliminar'), 'alert small') }}
{% endmacro %}

{% macro cancel(url, text) %}
{% import _self as this %}
{{ this.link(url, text|upper|default('CANCELAR'), 'alert') }}
{% endmacro %}

{% macro add(url, text) %}
{% import _self as this %}
{{ this.link(url, text|default('Crear'), 'success', 'check') }}
{% endmacro %}

{% macro report(url, text) %}
{% import _self as this %}
{{ this.link(url, text|default('Reporte')|upper, 'info', 'print') }}
{% endmacro %}

{############################ BOTONES ##########################}

{% macro button(text, class, type) %}
<button type="{{ type|default('button') }}" class="{{ class }} radius">{{ text|upper }}</button>
{% endmacro %}

{% macro submit(text, icon) %}
{% import _self as this %}
{{ this.button(text|default('GUARDAR'), 'success', 'submit') }}
{% endmacro %}

{% macro reset(text, icon) %}
{% import _self as this %}
{{ this.button(text|default('LIMPIAR'), '', 'reset') }}
{% endmacro %}