<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>PHPLOT con Twig y Doctrine2</title>
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('css/bootstrap-responsive.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('css/smoothness/jquery-ui-1.10.3.custom.min.css') }}" rel="stylesheet" media="screen">
        <style type="text/css">
            .menu a{display: block;margin-bottom: 10px;text-align: left}
        </style>
        {% block stylesheet %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="page-header"><h1>{% block titulo "" %}</h1></div>
            <div class="row-fluid">
                <div class="span3">
                    <div class="well menu">
                        {{ bootstrap.link(path(''), 'Nueva Factura', 'primary', 'user') }}
                        {{ bootstrap.link(path('personas'), 'Listado de Personas', 'success', 'th-list') }}
                        {{ bootstrap.link(path('articulos'), 'Listado de Artículos', 'inverse', 'th-list icon-white') }}
                    </div>
                </div>
                <div class="span9">
                    <div class="well">
                        {% include "flashes.twig" %}
                        {% block cuerpo %}
                        {% endblock cuerpo %}
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ asset('js/jquery-1.9.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/jquery-ui-1.10.3.custom.min.js') }}"></script>
        {% block javascript %}
        {% endblock %}
    </body>
</html>

