<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>PHPLOT con Twig y Doctrine2</title>
        <link href="{{ asset('css/normalize.css') }}" rel="stylesheet">
        <link href="{{ asset('css/foundation.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/app.css') }}" rel="stylesheet">
        <link href="{{ asset('css/smoothness/jquery-ui-1.10.3.custom.min.css') }}" rel="stylesheet">
        <style type="text/css">
            .menu a{display: block;margin-bottom: 10px;text-align: left}
        </style>
        {% block stylesheet %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="columns large-12"><h1>{% block titulo "" %}</h1></div>
            </div>
            <div class="row">
                <div class="columns large-3">
                    <div class="section-container">
                        <section>
                            <p class="title"><a href="{{ path('') }}">Nueva Factura</a></p>
                        </section>
                        <section>
                            <p class="title"><a href="{{ path('personas') }}">Listado de Personas</a></p>
                        </section>
                        <section>
                            <p class="title"><a href="{{ path('articulos') }}">Listado de Artículos</a></p>
                        </section>
                        <section>
                            <p class="title"><a href="{{ path('reportes/mascompras') }}">5 Personas con + Gastos</a></p>
                        </section>
                    </div>
                </div>
                <div class="columns large-9">
                    {% include "flashes.twig" %}
                    {% block cuerpo %}
                    {% endblock cuerpo %}
                </div>
            </div>
        </div>
        <script>
            document.write('<script src=' +
            ('__proto__' in {} ? '{{ asset('js/vendor/zepto.js') }}' : '{{ asset('js/vendor/jquery.js') }}<\/script>')
        </script>
        <script src="{{ asset('js/jquery-1.9.1.min.js') }}"></script>
        <script src="{{ asset('js/jquery-ui-1.10.3.custom.min.js') }}"></script>
        {% block javascript %}
        {% endblock %}
    </body>
</html>

