{% extends "template.twig" %}

{% block titulo "Crear Artículo" %}

{% block cuerpo %}
<div>
    <form method="post">
        <dl>
            <dd><label>Nombre</label></dd>
            <dt>{{ form_text('articulo.nombre') }}</dt>
            <dd><label>Cantidad</label></dd>
            <dt>{{ form_number('articulo.cantidad') }}</dt>
            <dd><label>Precio</label></dd>
            <dt>{{ form_number('articulo.precio',{step:'0.1'}) }}</dt>
            {% block status '' %}
        </dl>
        {{ bootstrap.submit() }}
        {{ bootstrap.cancel(path('articulos'), 'Listado') }}
    </form>
</div>
{% endblock cuerpo %}
